git+https://github.com/alentoghostflame/nextcord.git@components_v2
aiofiles
aiodns; sys_platform != 'win32'
Brotli
brotlicffi
py-cpuinfo
uvloop; sys_platform != 'win32'
winloop; sys_platform == 'win32'
compress_json
python-dotenv
requests
ujson
emoji
discord-emoji
pycryptodome
orjson
tomli-w
setuptools
aiomultiprocess
better_profanity
zstandard
jellyfish
tld