nextcord[speed]
aiofiles
py-cpuinfo
tld
jellyfish
uvloop; sys_platform != 'win32'
winloop; sys_platform == 'win32'
compress_json
python-dotenv
requests
ujson
emoji
discord-emoji
pycryptodome
orjson
tomli
tomli-w