nextcord[speed]
guilded.py
https://github.com/revoltchat/revolt.py/archive/master.zip
aiofiles
py-cpuinfo
tld
jellyfish
uvloop
compress_json
python-dotenv
requests
ujson
emoji
discord-emoji
pycryptodome
orjson