nextcord
guilded.py
https://github.com/revoltchat/revolt.py/archive/master.zip
aiohttp
aiofiles
py-cpuinfo
tld
jellyfish
uvloop
compress-json
python-dotenv
multidict
ulid
typing-extensions
aenum
requests