git+https://github.com/nextcord/nextcord.git@9f7e4bf0e7d8f740cb418d1105146cf583cbc677
aiofiles
aiodns; sys_platform != 'win32'
Brotli
brotlicffi
py-cpuinfo
uvloop; sys_platform != 'win32'
winloop; sys_platform == 'win32'
compress_json
python-dotenv
requests
emoji
discord-emoji
pycryptodome
tomli
tomli-w
setuptools
aiomultiprocess